<div class="row">
    <div class="col-sm-3 text-right">
        <%- username %>
        <br /><%- date %>
    </div>
    <div class="col-sm-9">
        <blockquote>
            <%- message %>
        </blockquote>
    </div>
</div>