
<div class="cover cover-center">
    <h1 class="cover-heading">Chat application</h1>
    <p class="lead">
        This site shows a web chat developed on the <a href="http://www.jiiframework.ru/">Jii Framework</a>,
        using comet technology (WebSocket) and MVC pattern
    </p>
    <p class="lead">
        <a href="#/chat" class="btn btn-lg btn-default">Go to chat</a>
    </p>
</div>